In [1]:
import numpy as np
import pandas as pd

import sklearn.metrics as skmetrics

import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
train_labels = pd.read_csv("clean_train.csv").ix[:,10:]

In [11]:
train_labels.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
3,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [17]:
label_means = train_labels.mean(axis=0)

In [15]:
val_labels = pd.read_csv("clean_val.csv").ix[:, 10:]
test_labels = pd.read_csv("clean_test.csv").ix[:, 10:]

In [16]:
n_val = val_labels.shape[0]
n_test = test_labels.shape[0]

In [19]:
label_means.index

Index([u'Action', u'Adventure', u'Animation', u'Comedy', u'Crime',
       u'Documentary', u'Drama', u'Family', u'Fantasy', u'Foreign', u'History',
       u'Horror', u'Music', u'Mystery', u'Romance', u'Science_Fiction',
       u'TV_Movie', u'Thriller', u'War', u'Western'],
      dtype='object')

In [28]:
rand_val_predictions = pd.DataFrame()
rand_test_predictions = pd.DataFrame()

In [30]:
for (i, prob) in enumerate(label_means):
    label_name = label_means.index[i]
    rand_val_predictions[label_name] = np.random.choice([0, 1], n_val, p=[1-prob, prob])
    rand_test_predictions[label_name] = np.random.choice([0, 1], n_test, p=[1-prob, prob])

In [39]:
val_accuracy = skmetrics.accuracy_score(val_labels, rand_val_predictions)
test_accuracy = skmetrics.accuracy_score(test_labels, rand_test_predictions)
val_ham = skmetrics.hamming_loss(val_labels, rand_val_predictions)
test_ham = skmetrics.hamming_loss(test_labels, rand_test_predictions)
val_jac = skmetrics.jaccard_similarity_score(val_labels, rand_val_predictions)
test_jac = skmetrics.jaccard_similarity_score(test_labels, rand_test_predictions)

In [34]:
print val_accuracy

0.00263388937665

In [35]:
print test_accuracy

0.00350262697023

In [36]:
print val_ham

0.2195785777

In [37]:
print test_ham

0.218301225919

In [40]:
print val_jac

0.107975180122

In [41]:
print test_jac

0.111574305729