In [95]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import pickle
%matplotlib inline

In [96]:
df_train = pd.read_csv("clean_train.csv")
df_test = pd.read_csv("clean_test.csv")
df_val = pd.read_csv("clean_val.csv")

In [97]:
pd.set_option('display.max_columns', None)
df_train.head()

,Unnamed: 0,budget,id,popularity,rating,revenue,runtime,vote_average,vote_count,votes,year,Mystery,Romance,Crime,Family,Science.Fiction,Horror,Foreign,Drama,Fantasy,Western,Animation,Music,Adventure,Action,TV.Movie,Comedy,Documentary,War,Thriller,History
0,1,2700000,80,1.026352,8.0,15992615.0,80,7.6,580,177647,2004,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,2,20000000,430780,0.097190,6.7,41385264.0,54,8.0,4,6578,2017,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,3,15000000,7985,1.222510,6.8,41385264.0,103,6.5,317,52587,2006,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3,4,4500000,53157,0.132750,6.2,41385264.0,102,5.0,14,1425,1985,0,0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,0
4,5,20000000,43821,0.064609,6.7,41385264.0,92,6.2,10,2197,1940,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0

In [98]:
df_val.head()

,Unnamed: 0,budget,id,popularity,rating,revenue,runtime,vote_average,vote_count,votes,year,Mystery,Romance,Crime,Family,Science.Fiction,Horror,Foreign,Drama,Fantasy,Western,Animation,Music,Adventure,Action,TV.Movie,Comedy,Documentary,War,Thriller,History
0,1,3000000,826,1.138653,8.2,33300000.0,161.0,7.6,450,159094.0,1957,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1
1,2,16000000,20617,0.021047,6.9,32911061.0,100.0,6.5,16,6220.0,1999,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
2,3,16000000,59125,0.004557,6.2,32911061.0,91.0,6.3,5,83.0,2007,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
3,4,13500000,10440,0.790614,7.4,11285588.0,104.0,7.1,123,30015.0,1993,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,5,16000000,319364,0.038487,6.6,32911061.0,98.5,8.0,1,580.0,1966,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1

In [99]:
list(df_train.columns).index("Mystery")

11

In [100]:
train_labels = df_train.ix[:,11:]
val_labels = df_val.ix[:, 11:]
test_labels = df_test.ix[:, 11:]

In [101]:
train_labels.head()

,Mystery,Romance,Crime,Family,Science.Fiction,Horror,Foreign,Drama,Fantasy,Western,Animation,Music,Adventure,Action,TV.Movie,Comedy,Documentary,War,Thriller,History
0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0

In [102]:
# sort genre names alphabetically
genre_names = sorted([genre.replace(".", "_") for genre in list(train_labels.columns)])

In [103]:
genre_names

['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science_Fiction',
 'TV_Movie',
 'Thriller',
 'War',
 'Western']

In [104]:
# replace dots in column names with underscores
for df in [train_labels, test_labels, val_labels]:
    df["Science_Fiction"] = df["Science.Fiction"]
    df["TV_Movie"] = df["TV.Movie"]
    df.drop("Science.Fiction", axis=1, inplace=True)
    df.drop("TV.Movie", axis=1, inplace=True)

In [105]:
train_labels

,Mystery,Romance,Crime,Family,Horror,Foreign,Drama,Fantasy,Western,Animation,Music,Adventure,Action,Comedy,Documentary,War,Thriller,History,Science_Fiction,TV_Movie
0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0
6,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
9,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
12,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
13,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
14,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
15,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
16,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0
18,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
19,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
20,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
21,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
22,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
23,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
24,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
25,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0
26,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
27,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0
28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
29,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9078,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
9079,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
9080,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
9081,0,0,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0
9082,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
9083,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9084,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
9085,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
9086,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
9087,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
9088,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
9089,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
9090,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
9091,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
9092,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
9093,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
9094,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
9095,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
9096,1,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0
9097,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1
9098,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0
9099,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0
9100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
9101,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9102,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
9103,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0
9104,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0
9105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
9106,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9107,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0

In [106]:
train_labels = train_labels[genre_names]
test_labels = test_labels[genre_names]
val_labels = val_labels[genre_names]

In [107]:
train_labels.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
3,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [114]:
df_train = df_train.ix[:, 1:11]
df_test = df_test.ix[:, 1:11]
df_val = df_val.ix[:, 1:11]

In [117]:
predictors = list(df_train.columns)
predictors.remove("id")

In [121]:
df_train = df_train[["id"] + predictors]
df_test = df_test[["id"] + predictors]
df_val = df_val[["id"] + predictors]

In [120]:
df_train.head()

,id,budget,popularity,rating,revenue,runtime,vote_average,vote_count,votes,year
0,80,2700000,1.026352,8.0,15992615.0,80,7.6,580,177647,2004
1,430780,20000000,0.097190,6.7,41385264.0,54,8.0,4,6578,2017
2,7985,15000000,1.222510,6.8,41385264.0,103,6.5,317,52587,2006
3,53157,4500000,0.132750,6.2,41385264.0,102,5.0,14,1425,1985
4,43821,20000000,0.064609,6.7,41385264.0,92,6.2,10,2197,1940

In [122]:
df_test.head()

,id,budget,popularity,rating,revenue,runtime,vote_average,vote_count,votes,year
0,2274,18000000,0.610288,4.8,38903179,94,4.8,88,13504,2007
1,11347,2500000,2.288786,5.8,1189315,93,5.8,51,7682,1988
2,82657,18000000,0.499261,4.9,38903179,97,4.3,182,12184,2014
3,10196,150000000,2.558010,4.2,318502923,103,4.7,916,124391,2010
4,206349,2000000,0.358332,3.7,38903179,72,3.9,11,1225,2013

In [123]:
df_val.head()

,id,budget,popularity,rating,revenue,runtime,vote_average,vote_count,votes,year
0,826,3000000,1.138653,8.2,33300000.0,161.0,7.6,450,159094.0,1957
1,20617,16000000,0.021047,6.9,32911061.0,100.0,6.5,16,6220.0,1999
2,59125,16000000,0.004557,6.2,32911061.0,91.0,6.3,5,83.0,2007
3,10440,13500000,0.790614,7.4,11285588.0,104.0,7.1,123,30015.0,1993
4,319364,16000000,0.038487,6.6,32911061.0,98.5,8.0,1,580.0,1966

In [124]:
df_train[genre_names] = train_labels
df_val[genre_names] = val_labels
df_test[genre_names] = test_labels

In [110]:
df_train_orig = pd.read_csv("clean_train.csv")

In [19]:
df_train_orig["Science_Fiction"] = df_train_orig["Science.Fiction"]
df_train_orig["TV_Movie"] = df_train_orig["TV.Movie"]

In [20]:
# make sure the ordering of all columns remained the same
for genre in genre_names:
    assert(list(df_train[genre]) == list(df_train_orig[genre]))

In [21]:
for df in [df_train, df_val, df_test]:
    df.drop("Foreign", axis=1, inplace=True)

In [22]:
genre_names.remove("Foreign")

In [23]:
with open("train_val_test_byid.pkl", "rb") as handle:
    train_test_split = pickle.load(handle)

In [24]:
# find what ids are missing from imdb data
missing_train = list(set(train_test_split["train"]) - set(df_train["id"]))
len(missing_train)

183

In [25]:
missing_val = list(set(train_test_split["validation"]) - set(df_val["id"]))
len(missing_val)

21

In [26]:
missing_test = list(set(train_test_split["test"]) - set(df_test["id"]))
len(missing_test)

17

In [ ]:
len(train_test_split["validation"])

In [48]:
new_train = []
for genre_id in train_test_split["train"]:
    if genre_id in list(df_train["id"]):
        new_train.append(genre_id)

In [49]:
new_val = []
for genre_id in train_test_split["validation"]:
    if genre_id in list(df_val["id"]):
        new_val.append(genre_id)

In [27]:
new_test = []
for genre_id in train_test_split["test"]:
    if genre_id in list(df_test["id"]):
        new_test.append(genre_id)

In [56]:
# remove posters for movies with no data
for file_name in os.listdir("posters_split/train"):
    poster_path = "posters_split/train/" + file_name
    # extract poster id from filename
    poster_id = int(file_name.split("-")[-1].split("_")[0])
    # delete file if poster is not in new training data
    if not poster_id in new_train:
        os.remove(poster_path)

In [57]:
# remove posters for movies with no data
for file_name in os.listdir("posters_split/test"):
    poster_path = "posters_split/test/" + file_name
    # extract poster id from filename
    poster_id = int(file_name.split("-")[-1].split("_")[0])
    # delete file if poster is not in new test data
    if not poster_id in new_test:
        os.remove(poster_path)

In [58]:
# remove posters for movies with no data
for file_name in os.listdir("posters_split/validation"):
    poster_path = "posters_split/validation/" + file_name
    # extract poster id from filename
    poster_id = int(file_name.split("-")[-1].split("_")[0])
    # delete file if poster is not in new test data
    if not poster_id in new_val:
        os.remove(poster_path)

In [59]:
train_poster_ids = []
test_poster_ids = []
val_poster_ids = []

# get list of ids of all posters in directories
for file_name in os.listdir("posters_split/train"):
    train_poster_ids.append(int(file_name.split("-")[-1].split("_")[0]))
# get list of ids of all posters in directories
for file_name in os.listdir("posters_split/test"):
    test_poster_ids.append(int(file_name.split("-")[-1].split("_")[0]))
# get list of ids of all posters in directories
for file_name in os.listdir("posters_split/validation"):
    val_poster_ids.append(int(file_name.split("-")[-1].split("_")[0]))

In [61]:
assert(train_poster_ids == new_train)
assert(test_poster_ids == new_test)
assert(val_poster_ids == new_val)

In [63]:
df_train.shape

(9108, 32)

In [71]:
assert(df_train.shape[0] == len(os.listdir("posters_split/train")))
assert(df_test.shape[0] == len(os.listdir("posters_split/test")))
assert(df_val.shape[0] == len(os.listdir("posters_split/validation")))

In [72]:
with open("../scraping/genre_dict.pickle", "rb") as handle:
    genre_dict = pickle.load(handle)

In [77]:
genre_dict = {v: k for k, v in genre_dict.iteritems()}

In [78]:
genre_dict

{'Action': 28,
 'Adventure': 12,
 'Animation': 16,
 'Comedy': 35,
 'Crime': 80,
 'Documentary': 99,
 'Drama': 18,
 'Family': 10751,
 'Fantasy': 14,
 'History': 36,
 'Horror': 27,
 'Music': 10402,
 'Mystery': 9648,
 'Romance': 10749,
 'Science_Fiction': 878,
 'TV_Movie': 10770,
 'Thriller': 53,
 'War': 10752,
 'Western': 37}

In [79]:
sorted_genre_list = [(name, genre_dict[name]) for name in genre_names]

In [80]:
sorted_genre_list

[('Action', 28),
 ('Adventure', 12),
 ('Animation', 16),
 ('Comedy', 35),
 ('Crime', 80),
 ('Documentary', 99),
 ('Drama', 18),
 ('Family', 10751),
 ('Fantasy', 14),
 ('History', 36),
 ('Horror', 27),
 ('Music', 10402),
 ('Mystery', 9648),
 ('Romance', 10749),
 ('Science_Fiction', 878),
 ('TV_Movie', 10770),
 ('Thriller', 53),
 ('War', 10752),
 ('Western', 37)]

In [134]:
train_labels["id"] = df_train["id"]
test_labels["id"] = df_test["id"]
val_labels["id"] = df_val["id"]

/Users/chrischen/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [135]:
train_labels = train_labels[['id'] + genre_names]
test_labels = test_labels[['id'] + genre_names]
val_labels = val_labels[['id'] + genre_names]

In [89]:
train_labels.head()

,id,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,80,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,430780,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,7985,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
3,53157,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
4,43821,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [90]:
test_labels.head()

,id,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,2274,0,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0
1,11347,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,82657,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
3,10196,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,206349,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [91]:
val_labels.head()

,id,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,826,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0
1,20617,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0
2,59125,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
3,10440,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,319364,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [125]:
df_train.head()

,id,budget,popularity,rating,revenue,runtime,vote_average,vote_count,votes,year,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,80,2700000,1.026352,8.0,15992615.0,80,7.6,580,177647,2004,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
1,430780,20000000,0.097190,6.7,41385264.0,54,8.0,4,6578,2017,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,7985,15000000,1.222510,6.8,41385264.0,103,6.5,317,52587,2006,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
3,53157,4500000,0.132750,6.2,41385264.0,102,5.0,14,1425,1985,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,43821,20000000,0.064609,6.7,41385264.0,92,6.2,10,2197,1940,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [126]:
df_train.to_csv("clean_train.csv", index=False)
df_test.to_csv("clean_test.csv", index=False)
df_val.to_csv("clean_val.csv", index=False)

In [129]:
with open("sorted_genre_list.pickle", "wb") as handle:
    pickle.dump(sorted_genre_list, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [130]:
with open("sorted_genre_list.pickle", "rb") as handle:
    sorted_genre_list_pickle = pickle.load(handle)

In [136]:
train_labels.head()

,id,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,80,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
1,430780,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,7985,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
3,53157,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,43821,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [137]:
test_labels.head()

,id,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,2274,0,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0,0
1,11347,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,82657,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
3,10196,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
4,206349,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [138]:
val_labels.head()

,id,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science_Fiction,TV_Movie,Thriller,War,Western
0,826,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
1,20617,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0
2,59125,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,10440,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,319364,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [139]:
train_labels.to_csv("train_labels.csv", index=False)
test_labels.to_csv("test_labels.csv", index=False)
val_labels.to_csv("val_labels.csv", index=False)